.dark-theme {
  background: #212121;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    color: #fff;
  }
  .block--entry-item {
    background: rgba(255, 255, 255, 0.1);
  }
  button,
  .btn {
    background: rgba(255, 255, 255, 0.2);
    border-color: #fff;
    box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.4);
    &:hover {
      color: #5d2bff;
      background: #f7f9fc;
      span {
        color: #5d2bff;
      }
    }
  }
}
